
@{
    ViewData["Title"] = "Login";
    Layout = null;
}

 <head> 
 <link rel="stylesheet" href="~/css/login.css" /> 
 </head> 
<div class="login-container">
    <img src="~/img/qnu.jpg" alt="Logo QNU" class="logo">

    <h2>Đăng nhập</h2>

    <div class="divider">
        <span>_*_</span>
    </div>

    <form method="post" asp-action="Login">
        <input type="text" name="Username" placeholder="Nhập username" />
        <input type="password" name="Password" placeholder="Nhập password" />
        <button type="submit">Đăng nhập</button>
    </form>
    @if (ViewBag.Error != null)
    {
        <div class="text-danger">@ViewBag.Error</div>
    }
</div>
