@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor


@{
    var vaiTro = HttpContextAccessor.HttpContext?.Session.GetString("VaiTro");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QLDiem</title>
 
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
 
    <link rel="stylesheet" href="~/QLDiem.styles.css" asp-append-version="true" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    @RenderSection("Styles", required: false)

</head>
<body>
    <header>
       


    </header>
    <div class="container-fluid">
        <div class="row">
    
            <nav id="sidebarMenu" class="sidebar collapsed-sidebar">
                <div class=" pt-3 d-flex flex-column align-items-stretch">
                    <ul class="nav nav-pills flex-column mb-auto">
                        <h5 class="title-web">
                            Grade Manager
                        </h5>
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center" asp-controller="Home" asp-action="Index">
                                <i class="bi bi-house-door fs-5"></i>
                                <span class="menu-text ms-2">Home</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center" asp-controller="Admin" asp-action="Index">
                                <i class="bi bi-speedometer2 fs-5"></i>
                                <span class="menu-text ms-2">Quản lý điểm</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center" asp-controller="LopHocPhans" asp-action="Index">
                                <i class="bi bi-journal-bookmark fs-5"></i>
                                <span class="menu-text ms-2">Quản lý lớp học phần</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center" asp-controller="QLSinhVien" asp-action="Index">
                                <i class="bi bi-people fs-5"></i>
                                <span class="menu-text ms-2">Quản lý sinh viên</span>
                            </a>
                        </li>
                      
                    </ul>
                </div>
                <div class="btn-logout">
                    <a class="nav-link" asp-area="" asp-controller="AccCount" asp-action="Logout">
                        <i class="bi bi-box-arrow-right fs-5"></i>
                        <span class="menu-text ms-2">Logout</span>
                    </a>
                </div>
            </nav>
          
           
            <main class="main-content">
                @RenderBody()
            </main>
        </div>
    </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
