@model QLDiem.Models.SinhVien
@section Styles {
    <link rel="stylesheet" href="~/css/QLSV.css" asp-append-version="true" />
}

<div class="form-container">
    <div class="form-title">➕ Thêm sinh viên</div>

    <form asp-action="Create" method="post">
        <div class="form-group">
            <label>Mã sinh viên</label>
            <input asp-for="MaSv" class="form-control" />
        </div>

        <div class="form-group">
            <label>Họ tên</label>
            <input asp-for="HoTen" class="form-control" />
        </div>

        <div class="form-group">
            <label>Lớp</label>
            <input asp-for="Lop" class="form-control" />
        </div>

        <div class="form-group">
            <label>Giới tính</label>
            <select asp-for="GioiTinh" class="form-control">
                <option>Nam</option>
                <option>Nữ</option>
            </select>
        </div>

        <div class="form-group">
            <label>Ngày sinh</label>
            <input asp-for="NgaySinh" type="date" class="form-control" />
        </div>

        <div class="form-actions">
            <a asp-action="Index" class="btn-back">← Quay lại</a>
            <button type="submit" class="btn-main">Lưu</button>
        </div>
    </form>
</div>